.flex-container{
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 600px;
}
.flex-container > div{
    background-color: white;
}
body{
    margin: 0px;
    background-color: #636363;
}
nav ul{
    list-style-type: none;
    padding: 0%;
}

